// Sito.scss

.app__home,
.app__skills {
  height: 100vh;
  padding: 2rem;
  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

.app__skills {
  background-color: #1e1e1e;
  .skill-card {
    background-color: #111111;
  }
  @media screen and (max-width: 768px) {
    height: auto;
  }
}
.app__home {
  background-image: url("./images/sfondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #010101;
  background-position: left;
  &__title {
    font-size: 3rem;
  }

  &__subtitle {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    &__title {
      font-size: 2.2rem;
    }
  }
}

.btn-primary {
  background-color: #00a2b0;
  border-color: #00a2b0;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
}

.btn-primary-outline {
  color: #00a2b0;
  border: 1px solid #00a2b0;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
}

.text-primary {
  color: #00a2b0;
}
